body {
  height: 100vb;
  background-color: #0d0c14;
  width: 100%; }

.desaparecer {
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
  transform: translateX(-100%); }

.aparecer {
  opacity: 1;
  filter: blur(0);
  transition: all 1s;
  transform: translateX(0); }

.cardprincipal:nth-child(2) {
  transition-delay: 400ms; }

.cardprincipal:nth-child(3) {
  transition-delay: 700ms; }

.jogos:nth-child(2) {
  transition-delay: 400ms; }

.jogos:nth-child(3) {
  transition-delay: 700ms; }

.jogos:nth-child(4) {
  transition-delay: 1000ms; }

.jogos:nth-child(5) {
  transition-delay: 1300ms; }

.jogos:nth-child(6) {
  transition-delay: 1600ms; }

.main_jogo {
  height: 600px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  width: 80% !important;
  font-family: "Oswald", sans-serif; }
  .main_jogo a {
    text-decoration: none; }
    .main_jogo a button {
      font-family: Roboto, sans-serif;
      font-weight: 0;
      font-size: 14px;
      color: black;
      background-color: #30cf36;
      padding: 10px 30px;
      border: none;
      box-shadow: none;
      border-radius: 50px;
      transition: 303ms;
      transform: translateY(0);
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      font-weight: bold;
      margin: 20px; }
  .main_jogo img {
    width: 100%;
    height: 540px; }
  .main_jogo a button:hover {
    transition: 303ms;
    padding: 10px 38px;
    transform: translateY(0px);
    background-color: #21b31c;
    color: #3e00db;
    border: solid 0px #22009c; }
  .main_jogo a i {
    margin-left: 4px; }

.desc_jogo {
  margin-left: 48px;
  margin-top: 24px;
  margin-right: 48px;
  text-align: center; }

header a {
  width: 50%; }
  header a .navbar-brand {
    width: 100%; }
  header a img {
    width: 100%; }
header .container-fluid {
  background-color: #0d0c14; }
header .navbar-collapse ul {
  padding: 0; }
header .navbar-collapse a,
header .navbar-collapse a:hover {
  color: #04c8cb;
  text-decoration: none; }
header .navbar-collapse li {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 10px; }
header .navbar-collapse li:last-child {
  margin-right: 0; }
header .navbar-collapse li:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; }
header .navbar-collapse li:hover:after {
  width: 100%;
  background: blue; }
header .navbar-collapse a {
  font-size: 11px;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0 4px;
  font-family: "Oswald", sans-serif; }

footer {
  background-color: #0d0c14; }
  footer .footerzada {
    background-color: #0d0c14; }

.swiper {
  width: 600px;
  height: 300px; }

main {
  background-color: #0d0c14; }
  main .carrocel img {
    height: 180px; }
  main .jogos {
    padding-top: 60px; }

@media (min-width: 500px) {
  header {
    display: flex;
    align-items: center; }
    header a {
      width: 40%; }
      header a .navbar-brand {
        width: 30%; }
      header a img {
        width: 40%; }
    header .navbar-collapse ul li a {
      font-family: "Oswald", sans-serif; }

  main .carrocel img {
    height: 450px; } }
@media (max-width: 800px) {
  main .carrocel img {
    height: 200px; } }

/*# sourceMappingURL=style.css.map */
